<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우리팀 소개</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Gugi&display=swap" rel="stylesheet">
<style>
    body, button {
        font-family: "Black And White Picture", system-ui;
    }
</style>

<body>
    <h1>우리팀 소개</h1>
    <hr>
    <a href="/myTeam1?request=팀명">
        <button>우리 팀명</button>
    </a>
    <a href="/myTeam1?request=팀원">
        <button>우리 팀원</button>
    </a>

    <div th:if="${myteam.getTeamName() != null and myteam.getTeamMember() == null}">
        <h2 th:text="|우리 팀의 팀명은 ${myteam.getTeamName()}입니다.|"></h2>
    </div>

    <div th:if="${myteam.getTeamName() != null and myteam.getTeamMember() != null}">
        <h2 th:text="|${myteam.getTeamName()}의 팀원들을 소개합니다.|"></h2>
        <ul th:each="elem : ${myteam.getTeamMember()}">
            <li th:text="|${elem.getName()}: 별명은 ${elem.getNicName()}이고 좋아하는 음식은 ${elem.getFood()}입니다.|"></li>
        </ul>
    </div>
</body>
</html>