<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/visitor.css">
    <style>
        table {
            margin: 5px auto;
        }
        td {
            border-bottom: 1px dotted black;
            padding: 10px;
            text-align: left;
        }
    </style>

</head>
<body>
<h1 th:if="${list != null and insert_msg == null}"> 학생 정보 리스트 </h1>
<table th:if="${list != null and insert_msg == null}">
    <tr th:each="student : ${list}">
        <td>[[${student.getName()}]]</td>
        <td>[[${student.getScore()}]]</td>
        <td><a th:href="@{/delete(name=${student.getName()})}"> <img src="/images/delete.png" width="38"></a></td>
    </tr>
</table>

<th:block th:if="${num != null and insert_msg == null}">
    <h2>전체 학생의 평균은 [[${ num }]]점이군요..</h2>
</th:block>

<th:block th:if="${msg != null and insert_msg == null}">
    <h2>[[${ msg }]]</h2>
</th:block>

<th:block th:if="${delete_msg != null and insert_msg == null}">
    <h2>[[${ delete_msg }]]</h2>
    <a th:href="@{/test1}">전체학생보기</a>
    <br>
</th:block>

<th:block th:if="${insert_msg}">
    <script>alert('[[${insert_msg}]]')</script>
</th:block>

<a th:if="${insert_msg == null}"
   href="#" onclick="document.getElementById('insertform').style.display='block'">
    학생정보입력
</a>

<div id="insertform" th:style="${insert_msg != null} ? 'display:block' : 'display:none'">
        <form method = "post" action = "/insert">
            <input type ="text" name ="name"
                   placeholder="이름을 입력하세요"required><br>
            <input type ="number" name ="score"
                   placeholder="점수를 입력하세요"required min="0" max="100"><br>
            <input type = "submit" value = "등록">
            <input type = "reset" value = "재작성">
            <input type = "button" value = "취소" onclick="document.getElementById('insertform').style.display='none'">
        </form>
</div>
</body>
</html>